:root {
    --bg-light: rgb(244, 231, 166);
    --bg-dark: rgb(97, 15, 12);
    --bg-blue: rgb(181, 199, 225);
    --bg-green: rgb(107, 117, 52);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: var(--bg-blue);
    color: #333;
    line-height: 1.6;
    height: 800px;
}

/* Layout */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Header & Nav */
header {
    background-color: var(--bg-dark);
    padding: 60px 20px 120px;
    text-align: center;
}

.header-content h1 {
    color: var(--bg-light);
    font-size: clamp(32px, 6vw, 60px);
    margin: 0;
}

nav {
    position: absolute;
    top: 20px;
    left: 60px;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    padding: 6px 16px;
    color: var(--bg-light);
    background-color: rgba(0,0,0,0.25);
    border-radius: 6px;
    font-weight: bold;
}

/* Main content */
main {
    padding: 40px 20px;
    height: 100%;
    background-color: var(--bg-blue);
}

section {
    max-width: 700px;
    margin: 0 auto 40px;
}

section h2 {
    margin-bottom: 10px;
    font-size: 36px;
    color: var(--bg-dark);
    position: calc(center);
}

section p {
    margin-bottom: 16px;
    font-size: 18px;
    color: var(--bg-dark);
}

footer {
    text-align: center;
    padding: 40px 0px;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    min-height: fit-content;
    position: absolute; 
    bottom: 0px;
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    header { padding: 40px 20px 80px; 
    }
    nav { 
        position: absolute; 
        top: 15px;
        justify-content: center; 
        left: auto; 
        margin-top: 2px; 
    }
    section h2 { 
        font-size: 28px;
    }
    section p { 
        font-size: 16px; 
    }
    input, textarea { 
        padding: 12px; 
        font-size: 14px; 
    }
    button { 
        font-size: 16px; 
        padding: 10px;
     }
    
    footer {
    text-align: center;
    padding: 40px 0px;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    min-height: fit-content;
    position: relative; 
    bottom: 0px;
    width: 100%;
}
}

@media (max-width: 420px) {
    section { 
        padding: 0 6px; 
    }
    .header-content h1 { 
        font-size: 28px; 
        position: relative;
        top: 20px;
    }
}

